@import "tailwindcss";

body {
	background-color: #ffff;
	font-family: "Inter", sans-serif;
}

.container {
	max-width: 1000px;
	margin-inline: auto;
}



li {
	cursor: pointer;
}

li::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 3px;
	width: 100%;
	scale: 0 1;
	background-color: #5277f1;
	transform-origin: left;
	transition: all 0.2s ease-in-out;
}

li:hover::after {
	scale: 1 1;
}

li:hover {
	color: black;
}

.subtext {
	color: #2b2b2b;
}